.progress-bar {
    width: 200px;
    height: 2rem;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.progress-fill {
    position: absolute;
    width: calc(var(--numerator) / var(--denominator) * 100%);
    height: 100%;
    background-color: darkcyan;
    z-index: 1;
}

.percent-tag {
    position: absolute;
    left: 105%;
    top: -10px;
}

.fraction-marker-div {
    position: absolute;
    left: calc(var(--value) * 200px - 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fraction-marker {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}